

button{
    font-size: 1.5rem;
    background-color: var(--morado);
    color: white;
    transition: all ease .3s;
}

button:hover{
    color: white;
    background-color: var(--CTA);
    transform: scale(1.02);
}