.buttons{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

button{
    width: 250px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--morado);
    color: white;
    border: none;
    font-size: 2rem;
    font-family: 'poppins';
    cursor: pointer;
    transition: all ease .3s;
}

button:hover{
    background-color: var(--CTA);
    transform: scale(1.02);
}