.header{
    width: 100%;
    height: 100vh;
    /* background-color: #E9EBED; */
    background-color: #eaeaea;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header section{
    width: 55vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header section img{
    width: 80%;
}

.header_button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--verde);
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 30px;
    transition: all ease .2s ;
    box-shadow: 0px 4px 5px 0px rgba(0 0 0 /10%);
}

.header_button:hover{
    cursor: pointer;
    background-color: var(--CTA);
    transform: scale(1.1);
}

.image{
    width: 40vw;
    height: 100%;
    overflow: hidden;
}

.header_personaje_img{
    width: 90%;
}

/* Slogan */
.slogan{
    width: 100%;
    height: 70vh;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 2.5rem;
    text-align: center;
    word-wrap: break-word;
}

.slogan h2{
    font-weight: 600;
}

.slogan h2 span{
    font-weight: 700;
    color: var(--morado);
}


/* About Me */
.About_me{
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    /* background-color: #f2f2f2; */
}

.about_me_wave{
    width: 100%;
}

.About_me_aside{
    width: 100%;
}

.About_me_text{
    width: 45%;
    font-family: 'Poppins';
    text-align:justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About_me_text h2{
    font-size: 3.2rem;
    text-align: center;
    color: var(--azul);
    font-weight: bold;
    margin-bottom: 3rem;
}

.About_me_text p{
    width: 90%;
}

.About_me_text img{
    width: 10%;
}

.About_me_image{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About_me_image img{
    width: 85%;
    box-shadow: 10px 12px 0px var(--azul);
}

/* Proposals */
.proposals{
    width: 100%;
    font-family: 'poppins';
    margin-top: 3rem;
}

.proposals h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: var(--morado);
    margin-bottom: 3rem;
}

.proposal_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proposalR{
    width: 80%;
    max-width: 80%;
    height: 400px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    place-items: center;  
}

.proposalR_text{
    width: 90%;
    height: 250px;
    background-color: #33A7E0;
    grid-column: 1/-1;
    grid-row: 1/-1;
    border-radius: 50px;
    padding: 3rem 3rem 2rem ;
    display: grid;
    grid-template-columns: 70%;
    grid-template-rows: 20% 80%;
    place-items: center start;
    color: white;
    gap: 20px;
}

.proposalR_text h4{
    font-size: 2.2rem;
    line-height: 2.1rem;
}

.proposalR_text p{
    font-size: 1.3rem;
    font-weight: 400;
}
                    
.proposalR_image{
    background-color: #013974;
    width: 350px;
    height: 350px;
    grid-column: 2/-1;
    grid-row: 1/-1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proposalR_image img{
    width: 250px;
    height: 250px;
}

/* right */
.proposalL{
    width: 80%;
    max-width: 80%;
    height: 400px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    place-items: center;  
}

.proposalL_text{
    width: 90%;
    height: 250px;
    background-color: #FF7851;
    background-color: var(--verde);
    grid-column: 1/-1;
    grid-row: 1/-1;
    border-radius: 50px;
    padding: 3rem 4rem 2rem;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    place-items: center end;
    color: white;
    gap: 20px;
    text-align: right;
}

.proposalL_text h4{
    grid-column: 2/-1;
    grid-row: 1/2;
    font-size: 2.2rem;
    line-height: 2.1rem;
}

.proposalL_text p{
    grid-column: 2/-1;
    grid-row: 2/-1;
    font-size: 1.3rem;
    font-weight: 400;
}
                    

.proposalL_image{
    background-color: #013974;
    width: 350px;
    height: 350px;
    grid-column: 1/2;
    grid-row: 1/-1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proposalL_image img{
    width: 250px;
    height: 250px;
}

/* Contact me */
.contact_me{
    width: 100%;
    height: 100vh;
    padding: 3rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins';
}

.contact_me h2{
    width: 100%;
    font-weight: 700;
    font-size: 4rem;
    color: var(--morado);
}

.contact_me h3{
    width: 100%;
    font-weight: 500;
    font-size: 2.5rem;
    letter-spacing: 10px;
}

.contact_me_aside{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact_me_aside a{
    width: 20%;
}

.contact_me_aside>a>img{
    width: 80%;
    transition: all ease .2s;
}

.contact_me_aside>a>img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* footer */
.footer{
    width: 100%;
    height: 150px;
    padding: 0 7rem;
    background-color: var(--morado);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'poppins';
    color: white;
}

.footer_image{
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_image>img{
    max-height: 70%;
}

.footer_text{
    width: max-content;
    height: max-content;
    text-align: right;
}

@media screen and (max-width: 820px) {
    
    /* header */
    .header{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .header section{
        width: 100%;
        height: 50%;
    }
    
    .header section img{
        width: 80%;
    }

    .header_button{
        width: 60%;
    }
    
    .image{
        width: 100%;
        height: 50%;
        overflow: hidden;
        text-align: center;
    }
    
    .header_personaje_img{
        width: 90%;
        height: auto;
    }

    /* Slogan */
    .slogan{
        width: 100%;
        height: 60vh;
        font-size: 1.2rem;
    }

    /* About Me */
    .About_me{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .About_me_text{
        width: 90%;
        font-family: 'Poppins';
    }

    .About_me_text h2{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .About_me_text p{
        width: 90%;
    }

    .About_me_text img{
        width: 20%;
    }

    .About_me_image{
        width: 90%;
        margin-top: 1rem;
    }

    /* Proposals */
    

    .proposals h2{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .proposalR, .proposalL{
        width: 90%;
        max-width: 90%;
        height: max-content;
        grid-template-columns: 1fr;
        grid-template-rows: 80% 75px 75px;
        place-items: center;  
    }

    .proposalR_text, .proposalL_text{
        width: 100%;
        height: max-content;
        grid-column: 1/-1;
        grid-row: 1/3;
        border-radius: 40px;
        padding: 4.5rem 2rem 3rem;
        grid-template-columns: 100%;
        grid-template-rows: 10% 80% 10%;
    }

    .proposalR_text h4, .proposalL_text h4{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        line-height: 1.7rem;
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .proposalR_text p, .proposalL_text p{
        font-size: 1rem;
        text-align: center;
        grid-column: 1/-1;
        grid-row: 2/3;
    }
                        
    .proposalR_image, .proposalL_image{
        width: 180px;
        height: 180px;
        grid-column: 1/-1;
        grid-row: 2/-1;
        transform: translateY(-10px);
    }

    .proposalR_image img, .proposalL_image img{
        width: 70%;
        height: 70%;
    }

    /* Contact me */
    .contact_me{
        margin-top: 2rem;
        width: 100%;
        height: 100vh;
        padding: 3rem 0;
        justify-content: space-evenly;
    }

    .contact_me h2{
        width: 90%;
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .contact_me h3{
        width: 90%;
        font-size: 1.5rem;
        letter-spacing: normal;
    }

    .contact_me_aside{
        width: 100%;
        height: 50%;
        flex-wrap: wrap;
    }

    .contact_me_aside a{
        width: 35%;
    }

    /* footer */
    .footer{
        padding: 0 1.5rem;
    }


    .footer_image>img{
        max-height: 50%;
    }
}
  