<header class="hdr flxCntr w_100">
    <section class="flxCntr hSct">
        <img src="../../assets/images/logoColor.png" class="hdr_img w_80">
        <button class="h_btn" (click)="scrollToSection()">CONOCEME</button>
    </section>
    <div class="image">
        <img class="hdr_personaje_img w_90" src="../../assets/images/personaje_hdr2.png" alt="">
    </div>
</header>

<section class="slg flxCntr w_100">
    <h2>"Juventud y compromiso para un <span class="slSp">Aguascalientes</span>  renovado"</h2>
</section>

<section class="ab_me flxCntr w_100 hv_100" id="ab_me">
        <aside class="ab_txt flxCntr">
            <h2>¿Quien Soy?</h2>
            <p *ngIf="width > 820" class="w_90">{{description}}</p>
            <p *ngIf="width <= 820" class="w_90">{{descriptionMobile}}</p>

            <img src="../../assets/images/arrow.png" class="w_10">
        </aside>
        <div class="ab_img flxCntr">
            <img src="../../assets/images/personaje_about.png" alt="">
        </div>
    <!-- </aside> -->
</section>


<section class="prp w_100">

    <h2>MIS PROPUESTAS</h2>

    <div class="prp_cnt w_100 flxCntr" *ngFor="let item of propuestas; let i = index">

        <div class="pr_R w_80" *ngIf="i % 2 == 0">
                <div class="pr_R_txt w_90">
                    <h4>{{item.titulo}}</h4>
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="pr_R_img flxCntr">
                    <img [src]="'../../assets/images/' + item.imagen" alt="">
                </div>
        </div>


        <div class="pr_L w_80" *ngIf="i % 2 != 0">
                <div class="pr_L_text w_90">
                    <h4>{{item.titulo}}</h4>
                    <p>{{item.descripcion}}</p>
                </div>
                <div class="pr_L_img flxCntr">
                    <img [src]="'../../assets/images/' + item.imagen" alt="">
                </div>
        </div>
    </div>

</section>

<section class="cn_me flxCntr">
    <h2 class="w_100">¿Tienes alguna pregunta?</h2>
    <h3 class="w_100">¡ CONTACTAME !</h3>
    <div class="cn_me_a w_80 flxCntr">
        <a *ngFor="let item of socialMedia" [href]="item.link" class="cn_me_image" target="_blank">
            <img [src]="'../../assets/images/' + item.image" class="w_80 cn_img">
        </a>
    </div>
</section>


<footer class="ftr flxCntr w_100">
    <div class="ftr_img flxCntr">
        <img src="../../assets/images/logoBN.png" alt="">
    </div>
    <div class="ftr_txt">
        <p>® Todos los derechos reservados</p>
        <b>Ana Torrez - 2023</b>
    </div>
</footer>
