<div style="background: #f2f2f2;" class="d-flex align-items-center justify-content-center h-100 w-100 flex-wrap" style="gap: 30px;">
    <!-- <p style="font-size: 3rem;" class="text-center p-animation">Paty García</p>
    <p style="font-size: 3rem;" class="text-center p-animation">2do Informe de Actividades</p>
    <p style="font-size: 3rem;" class="text-center p-animation"> #Seguimos Avanzando</p> -->

    <header class="headerH overflow-hidden d-flex flex-column flex-md-row align-items-center justify-content-between vh-100 vw-100">
        <div class="d-flex flex-column align-items-center justify-content-center justify-content-md-around w-100 w-md-50 h-50">
            <h2>2do Informe</h2>
            <button class="btn btn-danger">VER MÁS</button>
        </div>

        <div class="text-center w-100 w-md-50 h-50">
            <img src="../../../../assets/images/personaje_header2.png" class="header_img">
        </div>
    </header>
</div>





<div  class="containerTwo">
    
    <div class="uno" data-aos="fade-left" data-aos-duration="1200" data-aos-delay="800">
        <img src="../../../../assets/images/informe1/t-comillaBlanca.png" style="max-width: 80px;">
        <p style="max-width: 80%;">En nuestro taller de robótica, diseñamos un brazalete inteligente para que un compañero que perdió la vista pueda trasladarse por nuestra escuela de manera independiente”.</p>
        <h4 style="font-weight: bold;">ANDREA SOTO</h4>
        <h5>Estudiante Secundaria #18</h5>
        <button class="btn rounded" style="background: #6E799A; color: WHITE;">VER VIDEO</button>
    </div>

    <div class="dos" data-aos="fade-up" data-aos-duration="1000"  data-aos-delay="50">
        <img src="../../../../assets/images/informe1/t6-foto.png" class="header_img2">
    </div>
    
</div>

<div  class="containerTwo">
    
    <div class="uno" data-aos="fade-left" data-aos-duration="1200"  data-aos-delay="800">
        <img src="../../../../assets/images/informe1/t-comillaBlanca.png" style="max-width: 80px;">
        <p >En nuestro taller de robótica, diseñamos un brazalete inteligente para que un compañero que perdió la vista pueda trasladarse por nuestra escuela de manera independiente”.</p>
        <h4 style="font-weight: bold;">ANDREA SOTO</h4>
        <h5>Estudiante Secundaria #18</h5>
        <button class="btn rounded" style="background: #6E799A; color: WHITE;">VER VIDEO</button>
    </div>

    <div class="dos" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="50">
        <img src="../../../../assets/images/informe1/t11-foto.png" class="header_img2">
    </div>
    
</div>

