
/* header */

.headerH {
    background: url(../../../../assets/images/informe1/backgroundheader.jpg);
    background-position: center;
    background-size: 101%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
}

.logoAna{
    width: 80%;
}

.personasHdr{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 5%);
    /* z-index: 2; */
}

.vermas{
    padding: .5rem 1rem;
    border-radius: 100px;
    border: none;
    background: #fff;
}

.vermas:hover{
    transform: scale(1.05);
    transition: all .2s ease;
}

.swipe{
    height: 20%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1.5rem;
}

.swipeicon{
    animation: swipe .7s ease infinite alternate;
}

@keyframes swipe {
    from{
        transform: translateY(0);
    }
    
    to{
        transform: translateY(10px);

    }
    
}

.containerTwo{
    width: 100%;
    height: 100vh;
    padding: 1rem 0 0 2rem;
    background: url("../../../../assets/images/informe1/backgroundTestimonios.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    outline: 1px solid #aebbe1;
    overflow: hidden;
}


.uno{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.uno>p{
    max-width: 80%;
}

.dos{
    width: 40%;
    height: 100%;
    text-align: center;
    padding-top: 1.5rem;
}


.header_img2{
    max-width: 90%;
    /* transform: translateY(100px);*/
} 




@media (max-width:820px) {

    .headerH {
        background-size: cover;
    }


    .logo{
        justify-content: flex-center;
        align-items: center;
        padding-top: 0rem;
        transform: rotate(-90deg);
    }
    
    .logoAna{
        width: 90vh;
    }
    
    .personasHdr{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        bottom: 0;
        transform: translate(-35%, 12%);
        text-align: center;
    }
    
    .personasHdr>img{
        width: 300%;
    }
    



    .containerTwo{
        /* height: 130vh; */
        height: auto;
        flex-direction: column;
        padding:  2rem .5rem 0 .5rem;
        text-align: center;
    }

    .uno{
        width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
        gap: 5px;
        font-size: 18px;
    }
    
    .uno>p{
        max-width: 100%;
    }

    .dos{
        max-width: 100%;
        width: 100%;
        height: 400px;
        text-align: center;
        padding-top: 0rem;
        overflow: hidden;
    }
    
    
    .header_img2{
        max-width: 90%;
        /* transform: translateY(100px);*/
    } 
    
    
}